body
{
  background-image: url(images/italymap.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  font-size: 30px;
  padding-left: 20 px;
}


div {
    margin: 80px auto;
    padding: 20px;
    max-width: 600px;
    width: 90%;
    background-color: rgba(0, 128, 0, 0.5);
    border: 1px solid black;
    box-sizing: border-box;
}

p{
    padding: 5px;

}
h1, h2
{
    padding-left: 20px;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  body {
    font-size: 20px;
    background-position: top;
  }

  h1 {
    font-size: 24px;
    padding-left: 10px;
  }

  div {
    margin-top: 40px;
    padding: 10px;
  }

  img {
    width: 100%;
    height: auto;
  }
}